.article {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #333;
    cursor: pointer;
    padding: 24px 0;
}

.headline {
    flex-grow: 1;
    font-weight: bold;
    margin: 16px 0;

}

.category {
    text-align: right;
}

@media screen and (max-width: 768px) {
    .deck {
        display: none;
    }
}