.article {
    padding: 24px 0;
    border-bottom: 1px solid #333;
    cursor: pointer;
}

.headline {
    font-weight: bold;
    margin-bottom: 16px;
}

.category {
    text-align: right;
}